@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);

  --content-max: 1200px;

  /* Gradients:
  One: (135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  Two: (135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%)); 
  */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

.lk-hero {
  height: 100vh;
  display: flex;
}

.lk-hero .coming-soon {
  background: center center / 100% 100% url(images/bg-pattern-desktop.svg)
      no-repeat,
    linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  /* flex: 55%; */
  flex: 60;

  display: flex;
  flex-direction: column;
}

.lk-hero .greetings {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  gap: 2rem;
}

.lk-hero .greetings h1 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 15px;
  line-height: 1.2;
}

.lk-hero .pink {
  color: var(--desaturated-red);
  font-weight: 300;
}

.lk-hero .greetings p {
  color: var(--desaturated-red);
  line-height: 1.6;
}

.lk-hero .model-image {
  /* background: top / cover url(images/hero-desktop.jpg) no-repeat; */
  /* width: 100%; */
  /* height: auto; */
  background-color: red;
  flex: 40;
  overflow: hidden;
}

.lk-hero .model-image img {
  width: 100%;
  height: auto;
}

.lk-hero .subscribe-to-newsletter {
  /* background-color: red; */
  height: 3rem;
  display: flex;
}

.lk-hero .subscribe-to-newsletter input[type="email"] {
  border-radius: 100px;
  border: 1px solid var(--desaturated-red);
  width: 100%;
}

.lk-hero .subscribe-to-newsletter button[type="submit"] {
  /* display: none; */
  width: 5rem;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border-radius: 100rem;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
