@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);

  --content-max: 1200px;

  /* Gradients:
  One: (135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  Two: (135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%)); 
  */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  display: grid;
  grid-template-columns: 1fr repeat(12, min(calc(100% / 12), 100px)) 1fr;
  /* not sure if this is a good idea? */
  gap: 1rem;
}

/* general sections */
body > section {
  grid-column: 2 / -2;
}

.lk-hero {
  min-height: 100vh;
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: 1fr repeat(12, min(calc(100% / 12), 100px)) 1fr;
}

.lk-hero .coming-soon {
  background: center center / 100% 100% url(images/bg-pattern-desktop.svg)
      no-repeat,
    linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  grid-column: 1 / 9;

  display: grid;
  grid-template-columns: 1fr repeat(7, min(calc(100% / 7), 100px));
}

.lk-hero .coming-soon > * {
  grid-column: 2 / -3;
}

.lk-hero .coming-soon .logo {
  margin-top: 4rem;
}

.lk-hero .greetings {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  gap: 2rem;
}

.lk-hero .greetings h1 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 15px;
  line-height: 1.2;
}

.lk-hero .pink {
  color: var(--desaturated-red);
  font-weight: 300;
}

.lk-hero .greetings p {
  color: var(--desaturated-red);
  line-height: 1.6;
}

.lk-hero .model-image {
  overflow: hidden;
  grid-column: 9 / 15;
}

.lk-hero .model-image img {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
}

.lk-hero .subscribe-to-newsletter {
  height: 3rem;
  display: flex;
  position: relative;
}

.lk-hero .subscribe-to-newsletter input[type="text"] {
  border-radius: 100px;
  border: 1px solid var(--desaturated-red);
  width: 100%;
  /* z-index: 1; */
  color: #000;
  font-size: 1.2rem;
  padding-left: 1.5rem;
}

.lk-hero .subscribe-to-newsletter button[type="submit"] {
  /* display: none; */
  width: 6rem;
  height: 100%;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border-radius: 100rem;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  cursor: pointer;
  transition: all 0.3s;
}

.lk-hero .subscribe-to-newsletter button[type="submit"]:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

@media screen and (max-width: 768px) {
  body {
    display: grid;
    grid-template: auto / 1fr;
    /* gap: 1rem; */
  }

  body > section {
    grid-column: 1;
    grid-template: auto / 1fr;
  }

  .lk-hero {
    grid-column: 1;
    grid-template-columns: 1fr;
  }

  .lk-hero .coming-soon {
    grid-column: 1;
    grid-template-columns: 1fr;
  }

  .lk-hero .model-image {
    grid-column: 1;
    grid-row: 2;
    grid-template-columns: 1fr;
  }

  .lk-hero .coming-soon .logo {
    margin-top: 2rem;
    grid-row: 1;
  }
}
